---
import Layout from "../../../layouts/Layout.astro";
import NavAdmin from "../../../components/NavBarAdmin.astro";
import type { Loan } from "../../../types/api";
import SearchLoan from "../../../components/SearchLoan.svelte";

let RegisterL: Loan | undefined;
let creation_error: string | undefined;

// Checa si existe la sesión
const token = Astro.cookies.get("token");
const request = Astro.request;

/*
if (token) {
    if (request.method === "POST") {
        try {
            const formData = await Astro.request.formData();
            const register = formData.get("register")?.toString();
            const first_name = formData.get("first_name")?.toString();
            const last_name = formData.get("last_name")?.toString();
            const e_mail = formData.get("e_mail")?.toString();
            
            if (register && first_name && last_name && e_mail) {
                await POST({ register: parseInt(register), first_name, last_name, e_mail }, ADMIN_STUDENT, token.value);
            }
        } catch (e) {
            creation_error = "No se pudo crear el estudiante";
        }
    } else {
        try {
            // Si la sesión es válida
            RegisterS = (await GET(ADMIN_STUDENT, token.value)) as Student;
        } catch (e) {
            // Si no, regresa al login
            console.log(e);
            return Astro.redirect("/");
        }
    }
} else {
    return Astro.redirect("/");
}*/


---

<Layout title="buscar prestamo">
    <NavAdmin />
    <SearchLoan />
    {creation_error && <p style="color: red;">{creation_error}</p>}

</Layout>

<style>
    
</style>