---
import Layout from "../../../layouts/Layout.astro";
import Nav from "../../../components/NavBarAdmin.astro";
import Search from "../../../components/SearchBar.astro";
import Filter from "../../../components/FilterItem.astro";
import SearchResult from "../../../components/SearchBox.astro";
import Student from "../../../components/StudentItem.astro";
---

<Layout title="modificacion prestamo">
    <Nav />
    <Search>
        <Filter filter="Nombre" />
        <Filter filter="Matricula" />
        <a href="registrar"><Filter filter="registrar usuario" /></a>
    </Search>
    <SearchResult>
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
    </SearchResult>
</Layout>
