---
import Layout from "../../../layouts/Layout.astro";
import Nav from "../../../components/NavBarAdmin.astro";
import SearchR from "../../../components/SearchBox.astro";
import BookItem from "../../../components/BookItem.astro";
---

<Layout title="prestamo">
    <Nav />
    <SearchR>
        <div>
            <span>2022-01-18</span>
            <BookItem
                icon={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v5" />
                <path d="M16 19h6" />
                <path d="M19 16v6" />
              </svg>`}
                icon1={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-minus" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v8" />
                    <path d="M16 19h6" />
                  </svg>`}
                title="Inginiería Aeroespacial"
                category="Ingeniería"
                place="Central"
                autor="Richard Wayland"
                editorial="Ingenieros > Licenciados"
                url1="/admin/loan/register"
                url2="/admin/loan/delete"
            />
        </div>

        <div>
            <span>2023-03-05</span>
            <BookItem
                icon={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-off" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7.708 3.721a3.982 3.982 0 0 1 2.292 -.721h4a4 4 0 0 1 4 4v7m0 4v3l-6 -4l-6 4v-14c0 -.308 .035 -.609 .1 -.897" />
                    <path d="M3 3l18 18" />
                  </svg>`}
                icon1={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-minus" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v8" />
                    <path d="M16 19h6" />
                  </svg>`}
                title="El llamado de Cthulu"
                category="Literatura Moderna"
                place="Benito Juarez"
                autor="Howard Philips Lovecraft"
                editorial="Locura Onírica"
                url1=""
                url2="/admin/loan/delete"
            />
        </div>
        <div>
            <span>2024-07-22</span>
            <BookItem
                icon={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v5" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                </svg>`}
                icon1={`<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-minus" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C6B8D9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v8" />
                    <path d="M16 19h6" />
                </svg>`}
                title="Learning English: Two Ways"
                category="Idiomas"
                place="5 de Mayo"
                autor="Elena Herrera"
                editorial="Lingua House"
                url1="/admin/loan/register"
                url2="/admin/loan/delete"
            />
        </div>
    </SearchR>

    <style>
        span {
            background-color: #32253f;
        }
    </style>
</Layout>
