---
import Layout from "../../../layouts/Layout.astro";
import NavBarAdmin from "../../../components/NavBarAdmin.astro";
---

<Layout title="modificar estudiante">
    <NavBarAdmin />
    <form action="mod">
        <h1>Registrar Estudiante</h1>
        <label for="">Nombre</label>
        <input type="text" />
        <label for="">Matrícula</label>
        <input type="text" />
        <label for="">Correo</label>
        <input type="text" />
        <div id="btns">
            <a href="" id="register">Registrar</a>
        </div>
    </form>
</Layout>

<style>
    @media (width <= 1000px) {
        form {
            width: 80%;
        }
    }

    @media (width > 1000px) {
        form {
            width: 30%;
        }
    }
    form {
        position: absolute;
        top: 25%;
        left: 30%;
        width: 40%;
        height: 40%;
        padding: 4rem 1rem;
        border-radius: 1rem;
        display: flex;
        background-color: #44365997;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 0.5rem 0.5rem 2rem #0004;
        color: #fefefe;
    }

    h1 {
        text-align: center;
    }
    #btns {
        margin-top: 1rem;
    }
    #register {
        background-color: #8C618C;
        width: 9rem;
        color: #fefefe;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.2rem 1rem;
        box-shadow: 0.2rem 0.2rem 1rem #464444;
        margin: auto;
        border-radius: 0.8rem;
        text-align: center;
        text-decoration: none;
    }

    label{
        margin-top: 10px;
    }
    #btns a:hover {
        background-color: #443659;
    }
</style>
