---
import Layout from '../../../layouts/Layout.astro';
import NavBarAdmin from '../../../components/NavBarAdmin.astro';
import CreateStudent from '../../../components/CreateStudent.svelte';
---

<Layout title="Registrar Estudiante">
    <NavBarAdmin />
    <div>
        <CreateStudent />
    </div>
</Layout>

<style>
    section {
        background-color: #32253f;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 1rem #0005;
        color: var(--accent-2);
    }
    h2 {
        color: var(--primary);
    }
    h3 {
        color: var(--secondary);
    }
    p {
        color: var(--accent-1);
    }
</style>
