---
import Layout from "../../../layouts/Layout.astro";
import Nav from "../../../components/NavAdmin.astro";
import SearchBar from "../../../components/Search.astro";
import Filter from "../../../components/Filter.astro";
import SearchResult from "../../../components/SearchBox.astro";
import Student from "../../../components/Student.astro";
---

<Layout title="modificacion prestamo">
    <Nav />
    <SearchBar>
        <Filter filter="Nombre" />
        <Filter filter="Matricula" />
        <a href="registrar"><Filter filter="registrar usuario" /></a>
    </SearchBar>
    <SearchResult>
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
        <Student
            name="Karla Castro Landa"
            matricula="202212345"
            email="karlacastrolan@alumno.buap.mx"
        />
    </SearchResult>
</Layout>
