---
import Layout from "../layouts/Layout.astro";
---

<Layout title="login">
    <form action="login.js" method="post">
        <label for="ResumeName">Usuario</label>
        <input type="text" name="ResumeName" id="resumeN" />
        <label for="Register">Matrícula</label>
        <input type="text" name="Register" id="res" />
    </form>
</Layout>

<style>
    @media (width <= 1000px) {
        form {
            width: 80%;
        }
    }

    @media (width > 1000px) {
        form {
            width: 30%;
        }
    }
    form {
        position: relative;
        top: 25%;
        margin: auto;
        height: 25%;
        padding: 4rem 1rem;
        border-radius: 1rem;
        display: flex;
        background-color: #003a5d;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 0.5rem 0.5rem 2rem #0004;
    }
</style>
