---
import Layout from "../layouts/Layout.astro";
import NavAdmin from "../components/NavAdmin.astro";
import Filter from "../components/Filter.astro";
import Search from "../components/Search.astro";
import BookItem from "../components/Book.astro";
import SearchResult from "../components/SearchBox.astro";
---

<Layout title="Buscar libro">
    <NavAdmin />
    <Search>
        <Filter filter="Titulo" />
        <Filter filter="Categoria" />
        <Filter filter="Editorial" />
        <Filter filter="Autor" />
        <Filter filter="ID" />
        <a href="registrarlibro"><Filter filter="Registrar Libro" /></a>
    </Search>
    <SearchResult>
        <BookItem
            icon="󰃉"
            title="Inginieria Aeroespacial #5676"
            category="Ingenieria"
            place="Central"
            autor="Richard Wayland"
            editorial="Ingenieros > Licenciados"
            dele=""
        />
        <BookItem
            icon="󰃉"
            title="El llamado de Cthulu #5621"
            category="Literatura Moderna"
            place="Benito Juarez"
            autor="Howard Philips Lovecraft"
            editorial="Locura Onírica"
            dele=""
        />
        <BookItem
            icon="󰃉"
            title="Learning English: Two Ways #2356"
            category="Idiomas"
            place="5 de Mayo"
            autor="Elena Herrera"
            editorial="Lingua House"
            dele=""
        />
    </SearchResult>
</Layout>
<footer>.</footer>
