---
import Layout from "../../../layouts/Layout.astro";
import Barra from "../../../components/BarraNavegacionAdm.astro";
---

<Layout title="eliminar libro">
    <Barra />
    <form action="del">
        <h1>Eliminar registro de libro</h1>
        <label for="">ID del libro</label>
        <input type="text" />
        <div id="btns"><a href="/admin/confirm" id="delete">Eliminar</a></div>
    </form>
</Layout>

<style>
    @media (width <= 1000px) {
        form {
            width: 80%;
        }
    }

    @media (width > 1000px) {
        form {
            width: 30%;
        }
    }
    form {
        position: absolute;
        top: 25%;
        left: 30%;
        width: 40%;
        height: 40%;
        padding: 4rem 1rem;
        border-radius: 1rem;
        display: flex;
        background-color: #44365997;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 0.5rem 0.5rem 2rem #0004;
    }

    h1 {
        text-align: center;
    }
    #delete {
        background-color: #8c618c;
        width: 9rem;
        color: #fefefe;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.2rem 1rem;
        box-shadow: 0.2rem 0.2rem 1rem #464444;
        margin: auto;
        border-radius: 0.8rem;
        text-align: center;
        text-decoration: none;
    }
    #btns {
        margin-top: 1rem;
    }
    #btns a:hover {
        background-color: #443659;
    }
</style>
