---
interface Props {
    registerurl: string;
    searchurl: string;
    deleteurl: string;
}
const { registerurl, searchurl, deleteurl } = Astro.props;
---

<div>
    <a href={registerurl} id="register">󱪞 <p>Registrar préstamo</p></a>
    <a href={searchurl} id="search">󱔘 <p>Consultar préstamo</p></a>
    <a href={deleteurl} id="delete">󱪠 <p>Eliminar préstamo</p></a>
</div>

<style>
    div {
        width: 80%;
        height: 500px;
        margin-left: 10rem;
        margin-top: 4rem;
        display: grid;
        grid-template-areas: "register update" "search delete";
        align-items: center;
        text-align: center;
        justify-items: center;
        background-color: #003a5d;
        border-radius: 1rem;
    }
    p{
        font-size: 1rem;
    }
    a {
        text-decoration: none;
        color: aliceblue;
        font-size: 5rem;
    }
    #register {
        grid-area: auto;
    }
    #update {
        grid-area: auto;
    }
    #search {
        grid-area: auto;
    }
    #delete {
        grid-area: auto;
    }
</style>