---

---

<nav>
    <ul class="nav">
        <li>
            <a>Libro</a>
            <ul class="menu">
                <li><a href="/admin/book/register">Registrar libro</a></li>
                <hr />
                <li><a href="/admin/book/update">Actualizar libro</a></li>
                <hr />
                <li><a href="/admin/book/search">Buscar libro</a></li>
                <hr />
                <li><a href="/admin/book/delete">Eliminar libro</a></li>
            </ul>
        </li>
        <li>
            <a>Prestamo</a>
            <ul class="menu">
                <li><a href="/admin/loan/register">Registrar prestamo</a></li>
                <hr />
                <li><a href="/admin/loan/searchl">Renovar prestamo</a></li>
                <hr />
                <li><a href="/admin/loan/delete">Eliminar prestamo</a></li>
            </ul>
        </li>

        <li>
            <a>Estudiante</a>
            <ul class="menu">
                <li>
                    <a href="/admin/student/register">Registrar estudiante</a>
                </li>
                <hr />
                <li>
                    <a href="/admin/student/update">Actualizar estudiante</a>
                </li>
                <hr />
                <li><a href="/admin/student/search">Burcar estudiante</a></li>
                <hr />
                <li><a href="/admin/student/delete">Eliminar estuduante</a></li>
            </ul>
        </li>
        <li><a id="login" href="/"><span>󰀒</span></a></li>
    </ul>
</nav>
<style>
    :root{
        --color-oscuro:#32253F;
        --color-morado-medio: #443659; /*Componentes*/
        --color-morado-claro: #8C618C; /*Botones*/
        --color-lila: #C6B8D9;
        --color-salmon: #F2D0CF;
        --color-sombra: #464444a9; /*Sombra botón*/
    }   
    nav {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        background-color: var(--color-oscuro);
    }
    a {
        font-size: 1.2rem;
    }
    .nav {
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    ul {
        list-style: none;
    }
    .nav > li {
        position: relative;
        margin-right: 10rem;
    }

    .nav li a {
        text-decoration: none;
        padding: 10px 15px;
        color: var(--color-lila);
        text-align: center;
        width: 3rem;
    }
    .nav li a:hover {
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-morado-claro);
        padding: 5px;
        border-radius: 5px;
        z-index: 999;
        table-layout: fixed;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
    }
    .nav li:hover > .menu {
        display: block;
    }

    .menu li {
        margin: 5px 0;
    }

    .menu li a {
        color: #ffffff;
        font-size: 1rem;
    }
    .nav > li > a::after {
        margin-left: 5px;
        font-size: 1rem;
    }
    hr {
        margin: 0;
        padding: 0;
        position: relative;
        border-color: #ffffff;
        display: block;
    }
</style>
