---

---

<header>
    <nav>
        <li class="menu">
            <div><a class="seccion" href="#">Libro</a></div>
            <ul>
                <li>
                    <a href="/admin/book/register">Registrar libro</a>
                </li>

                <li><a href="/admin/book/update">Actualizar libro</a></li>

                <li><a href="/admin/book/search">Buscar libro</a></li>
                <li><a href="/admin/book/delete">Eliminar libro</a></li>
            </ul>
        </li>

        <li class="menu">
            <div><a href="#">Estudiante</a></div>
            <ul>
                <li>
                    <a href="/admin/student/register">Registrar estudiante</a>
                </li>
                <li>
                    <a href="/admin/student/update">Actualizar estudiante</a>
                </li>
                <li>
                    <a href="/admin/student/search">Buscar estudiante</a>
                </li>
                <li>
                    <a href="/admin/student/delete">Eliminar estudiante</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="section" id="login" href="/"
                ><span
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-logout"
                        width="28"
                        height="28"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#fefefe"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path>
                        <path
                            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                        ></path>
                        <path d="M9 12h12l-3 -3"></path>
                        <path d="M18 15l3 -3"></path>
                    </svg></span
                ></a
            >
        </li>
    </nav>
</header>

<style>
    header {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--primary);
        padding: 0 14rem 0 14rem;
        display: flex;
        justify-content: center;
        z-index: 1000;
        margin: auto;
        height: 4rem;
    }
    nav {
        display: flex;
        margin: 0;
        justify-items: center;
        width: 95%;
    }
    ul {
        position: relative;
        margin: 0;
        padding: 0;
        float: left;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
        visibility: hidden;
        
    }
    div {
        min-height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu {
        display: flex;
    }
    li {
        font-family: "Lora",sans-serif;
        list-style: none;
        height: 4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        flex-grow: 1;
    }

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #fefefe;
    }

    @keyframes navhov {
        to {
            /* transform: scale(1.01); */
            background-color: var(--accent-1);
            color: #fff;
        }
    }

    li:hover {
        animation: navhov 0.2s ease-in-out 0.1s both;
    }

    li:hover > ul {
        visibility: visible;
    }
</style>
