---

---

<script></script>

<nav>
    <a href="/student/search"></a>
    <a href="/student/loan">󰂺</a>
    <a id="login" href="/">󰀒</a>
</nav>

<style>
    nav {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        background-color: #32253F;
    }

    a {
        color: #C6B8D9;
        font-size: 2rem;
        text-decoration: none;
    }

    @font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

li{
    font-family: 'Lora';
}
</style>
