---

---

<nav>
    <a href="/admin/book"></a>
    <a href="/admin/loan">󰂺</a>
    <a href="/admin/student">󰡉</a>
    <a id="login" href="/"><span>󰀒</span></a>
</nav>
<style>
    nav {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        background-color: #202c58;
    }
    a {
        color: hsl(204, 56%, 76%);
        font-size: 2rem;
        text-decoration: none;
        width: 5rem;
        text-align: center;
    }

    a:hover {
        color: #bdcafd;
        background-color: #0730ac;
        text-decoration: underline;
    }
</style>
