---

---

<script></script>

<nav>
    <a href="user"></a>
    <a href="prestamo">󰂺</a>
    <a id="login" href="/">󰀒</a>
</nav>

<style>
    nav {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        background-color: #00b3e4;
    }

    a {
        color: #003a5d;
        font-size: 2rem;
        text-decoration: none;
    }
</style>
