---

---

<form action="service.js" id="search">
    <div id="search-container">
        <label for="search-box"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-search"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#fefefe"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
            </svg></label
        >
        <input id="search-box" type="text" />
    </div>
    <div id="search-filter">
        <slot />
    </div>
</form>

<style>
    @media (width <= 1000px) {
        form {
            width: 80%;
        }
    }

    @media (width > 1000px) {
        form {
            width: 40%;
        }
    }

    form {
        position: relative;
        margin: calc(100vh / 2 - 12rem) auto;
    }

    #search-container {
        display: flex;
        justify-content: space-between;
        background-color: var(--primary);
        border-radius: 2rem;
        padding: 0.2rem 0.2rem 0.2rem 1rem;
        gap: 1rem;
        height: 2rem;
        box-shadow: 0.2rem 0.2rem 1rem #0005;
    }

    label {
        font-size: 1.5rem;
    }

    #search-container label {
        line-height: 1.4;
    }

    #search-container input {
        flex-grow: 1;
    }

    #search-filter {
        margin: 1rem 0.4rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 0.4rem;
        gap: 0.4rem;
    }
    input {
        background-color: #fefefe;
    }
</style>
