---
interface Props {
    name: string;
    matricula: string;
    email: string;
}

const { name, matricula, email } = Astro.props;
---

<div>
    <a href="u_student">󰃉</a>
    <a href="s_loan" id="matricula">󰺄</a>
    <span id="name">{name}</span>
    <span id="matricula">{matricula}</span>
    <span>{email}</span>
    <a href="confirm" id="matricula" class="xl"></a>
</div>

<style>
    div {
        display: flex;
        background-color: #0092bb;
        text-align: center;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 3rem;
        line-height: 2.4;
        font-size: 1.2rem;
    }
    span {
        flex-grow: 1;
    }
    #matricula {
        background-color: #1116;
    }
    .xl {
        padding-right: 1.8rem;
    }
    a {
        background-color: #111a;
        border-radius: 0;
        color: #ebeaea;
        font-size: 2rem;
        font-weight: bold;
        padding: 0.2rem 1rem;
        text-decoration: none;
        line-height: 1.2;
    }
</style>
