---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary: #32253f;
		--secondary: #443659;

		--accent-1: #8c618c;
		--accent-2: #efefef;

		--bg-1: #c6b8d9;
		--bg-2: #f2d0cf;
		box-sizing: border-box;
	}

	@font-face {
		font-family: "Lora";
		src: url("/fonts/Lora/Lora-VariableFont_wght.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face {
		font-family: "Arvo";
		src: url("/fonts/Arvo/Arvo-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Montserrat";
		src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Bitter";
		src: url("/fonts/Bitter/Bitter-VariableFont_wght.ttf") format("trutype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: Lora;
		background: whitesmoke;
		background-size: 224px;
	}
	body {
		margin: 0;
		padding: 0;
		color: var(--bg-1);
		font-size: 1rem;
		line-height: 1.6;
		min-height: 100vh;
		background-image: url("../Images/background.jpg");
		background-repeat: repeat;
		background-size: auto;
		background-position: top;
	}
	input {
		border-radius: 2rem;
		border-style: none;
	}

	.pan {
		color: var(--color-morado-medio);
	}

	h1,
	label {
		font-family: "Montserrat", sans-serif;
	}

	#btns {
		font-family: "Bitter", sans-serif;
	}
</style>
