---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--color-osucro:#32253F;
		--color-morado-medio: #443659;
		--color-morado-claro: #8C618C;
		--color-lila: #C6B8D9;
		--color-salmon: #F2D0CF;
	}
	html {
		font-family: CodeNewRoman Nerd Font;
		background: whitesmoke;
		background-size: 224px;
	}
	body {
		margin: 0;
		padding: 0;
		color: #fefefe;
		font-size: 1rem;
		line-height: 1.6;
		min-height: 100vh;
		/*background: linear-gradient( #dfebf7, #296596, #071925);*/
		background-image: url(/imagenes/backgroundE.jpg);
		background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
	}
	input {
		border-radius: 2rem;
		border-style: none;
	}

	.pan {
		color: var(--color-morado-medio);
	}

	
	@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, label{
	font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bitter';
  src: url('/fonts/Bitter/Bitter-VariableFont_wght.ttf') format('trutype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#btns{
	font-family: 'Bitter', sans-serif;
}

@font-face {
        font-family: "Lora";
        src: url('/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
