---
import Layout from "../../layouts/Layout.astro";
import Example from "../../components/Example.svelte";
import NavBarAdmin from "../../components/NavBarAdmin.astro";
---

<Layout title="ejemplo">
    <NavBarAdmin />
    <div>
        <Example client:only />
    </div>
</Layout>
